.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.log
.cocoapods_home*/
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
macos/Pods/
macos/Flutter/ephemeral/
.env
.env.*
!.env.example
*.p8
*.p12
*.mobileprovision
.DS_Store
